{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}
{{- $label := .laebl }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div>
    {{ $label }}:
      {{- $lastIndex := sub (len .) 1 }}
      {{- range $index, $term := . }}
        <a href="{{ $term.RelPermalink }} ">{{ $term.LinkTitle }}</a>{{ if ne $index $lastIndex }}, {{ end }}
      {{- end }}
  </div>
{{- end }}
